* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282a2c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2em;
    border-radius: 10px;
    width: 35em;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 1em;
}

.laskin {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

label {
    font-weight: bold;
    color: cornflowerblue;
}

input {
    padding: 1em;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 50px;
}

input:focus {
    outline: cornflowerblue
}

.error {
    color: red;
    font-size: 1rem;
}

.tulos {
    padding: 1em;
    border-radius: 50px;
    text-align: center;
    color: cornflowerblue;
    margin-top: -2em;
}

.tulos p {
    margin: 0;
    font-weight: bold;
}

.age-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
    color: whitesmoke;
}

.age-info p {
    display: flex;
    flex-direction: column;
}

.age-info span {
    margin-bottom: 1em;
}

#years, #months, #days {
    border: 3px solid;
    border-radius: 100px;
    font-weight: bold;
    height: 6em;
    width: 6em;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 30%;
}

#years {
    border-color: red;
}

#months {
    border-color: blue; 
}

#days {
    border-color: green; 
}

@media (max-width: 768px) {

    .container {
        max-width: 90%;
    }

    .tulos {
        font-size: 1em;
    }

    #years, #months, #days {
        margin-left: 0.1em;
        margin-right: 0.1em;
        margin-top: 1em;
        padding-top: 35%;
    }
}